.exclusive-container{
    width: 80%;
    margin: 0 auto;
}
.exclusive{
    padding: 20px;
}
.exclusive-content{
    padding-bottom: 100px;
}
.exclusive .exclusive-content .mile-food-card h4{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-indent: 1px;
    color: #000000;
}
.exclusive .exclusive-content .mile-food-card h5{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-indent: 1px;
    color: #000000;

}
.exclusive .exclusive-content .mile-food-card h5 i{
    color: #F48C06;
}
.exclusive .exclusive-content .mile-food-card .star{
    width: 100px;
}
.exclusive .exclusive-content .mile-food-card p{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    text-indent: 1px;
    text-transform: capitalize;
    padding: 10px 0;
    padding-bottom: 10px;
    color: #6A040F;
}

.exclusive .exclusive-content .mile-card{
    margin-bottom: 170px;
}
.exclusive .exclusive-content .mile-food-card{
    margin-top: -30px;
}
