@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: #E9F3FD;
    font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 768px){
    .mile-card{
        margin-bottom: 80px;
    }
    .mileone-container{
        width: 90%;
        margin: 0 auto;
    }
}