@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #E9F3FD;
    font-family: 'Ubuntu', sans-serif;
}
.section{
    width: 80%;
    margin: 20px auto;
}
.mile-label{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 100%;
    padding: 0 40px;
    font-size: 16px;
    color: #D20F10;
}

.mile-box{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: #E9F3FD;
    border: 1px solid #03071E;
    box-sizing: border-box;
    border-radius: 20px;
}
.mile-input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.mile-addcart{
    background: #D00000;
    border-radius: 15px;
    padding: 3px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-indent: 1px;
    color: #FFFFFF;
}
.mile-wishlist{
    background: #F48C06;
    border-radius: 15px;
    padding: 3px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-indent: 1px;
    color: #FFFFFF;
}
.mile-btn{
    background-color: #E8ECFE;
    padding: 5px 30px;
    color: #03071E;
    border-radius: 15px;
}

.mile-btn-follow{
    background-color: #F48C06;
    color: #fff;
    box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;   
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    text-indent: 1px;
}

.mile-btn-follow1{
    background-color: #F48C06;
    color: #fff;
    box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;   
    padding: 4px 20px;
    font-size: 16px;
    line-height: 24px;
    text-indent: 1px;
}

@media screen and (max-width: 768px){
    .mile-card{
        margin-bottom: 80px;
    }
    .mileone-container{
        width: 90%;
        margin: 0 auto;
    }
}