@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {
  *{
    @apply m-0 p-0 box-border font-sans transition-all duration-500 ease-in-out outline-none
  }

  html{
    @apply overflow-x-hidden
  }
}

@layer components{
  footer{
    @apply flex justify-between items-center gap-11 my-20 text-lg text-black-200
  }
  footer div:first-child{
    @apply w-80
  }
  footer div:last-child{
    @apply flex w-full justify-between gap-4
  }
  footer div:last-child ul h1{
    @apply font-medium text-2xl mb-9 capitalize text-black-100
  }
  footer div:last-child ul li{
    @apply leading-loose hover:pl-4
  }
}

@layer utilities{
  .responsive-grid{
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr))
  }
  .responsive-grid1{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
  }
}

.m-container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}