.auth{
    position: relative;
    overflow: hidden!important;
}
/* .auth .login {
    position: relative;
} */
.auth .matrix-1{
    background: rgba(186, 220, 255, 0.6);
    border-radius: 20px;
    transform: matrix(-0.77, 0.2, 1.27, 0.91, 0, 0);
    width: 933.05px;
    height: 773.82px;
    position: absolute;
    top: 300px;
    left: -500px;
    z-index: -9;
}

.auth .matrix-2{
    background: #DDEEFF;
    border-radius: 20px;
    transform: matrix(-0.77, 0.2, 1.27, 0.91, 0, 0);
    width: 933.05px;
    height: 773.82px;
    position: absolute;
    top: 200px;
    left: -500px;
    z-index: -9;
}

.auth .matrix-3{
    background: #DDEEFF;
    border-radius: 20px;
    transform: matrix(0.77, 0.23, -1.15, 0.91, 0, 0);
    width: 933.05px;
    height: 773.82px;
    position: absolute;
    top: 200px;
    right: -400px;
    z-index: -10;
}

.auth .matrix-4{
    background: rgba(186, 220, 255, 0.6);
    border-radius: 20px;
    transform: matrix(0.77, 0.23, -1.15, 0.91, 0, 0);
    width: 933.05px;
    height: 773.82px;
    position: absolute;
    top: 300px;
    right: -400px;
    z-index: -9;
}
.auth_container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 4.5rem auto;
}
.auth_container > div{
    background-color: transparent;
    padding: 15px 5rem;  
    width: 100%; 
}
.auth_container > div:first-child{
    border-right: 1px solid black;
}
.auth_container > div > h1{
    color: #F48C06;
    text-align: center;
    font-size: 20px;
}
.auth_container > div > form input{
    border: none;
    outline: none;
    border-bottom: 1px grey solid;
    padding: 7px 5px;
    width: 100%;
    background-color: transparent;
    margin-top: 1rem;
}
.password{
    display: flex;
    flex-direction: column;
}
.password small{
    margin-left: auto;
    color: grey;
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.buttons button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: white;
    color: #6A040F;
    font-weight: bold;
    box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
}
.buttons button:first-child{
    color: white;
    background-color: rgba(244, 140, 6, 0.75);
}