.grid{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(17rem, 1fr));
    gap: 20px;
}
.mile-label{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    color: #D20F10;
}
.section .slide{
    display: none;
}
.mile-label a{
    color: #D20F10;
    text-decoration: none;
}
@media screen and (max-width: 950px){
    .section .grid{
        display: none !important;
    }
    .section .slide{
        display: block;
    }
}
@media screen and (max-width: 650px){
    .mile-label{
        font-size: 12px;
    }
}
