.product-page{
    width: 100% !important;
}
/* .product{
    width: 300px;
    height: 300px;
    position: fixed;
    display: none;
    top: 65px;
    right: 30px;
    margin-bottom: 50px;
    z-index: 10;
}
.product > div{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E8ECFE;
    position: absolute;
    padding: 8px 50px;
    bottom: 0;
    left: 0;right: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.product > div > div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.product > div > h2{
    font-weight: bold;
    font-size: 20px;
    color: #6A040F;
    margin-left: 8px;
    text-align: center;
}
.product > div > .stars{
    margin: 0 auto;
}
.product > div > div > button{
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #D00000;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 15px;
}
.product > div > div > button:last-child{
    background: #F48C06;
} */
.product-image{
    width: 54%;
    margin: 10px auto;
}
.product-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.product-image .pbrand-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.product-image .pbrand-info > div{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.product-image .pbrand-info > div > img{
    width: 28%;
    height: 85px;
    object-fit: cover;
}
.product-image .pbrand-info > div > div{
    width: 68%;
}
.product-image .pbrand-info button{
    width: fit-content;
    padding: 7px 15px;
    background-color: #F48C06;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    padding: 5px 20px;
}
.product-image .pbrand-info > button{
    align-self: flex-start;
}
.product-image .pbrand-info > div > div > h5{
    font-size: 16px;
    line-height: 1;
    color: #370617;
    font-weight: 700;
}
.product-image .brand-info > div > div > p{
    line-height: 1;
    font-size: 13px;
}
.text-content h4{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #D00000;
}
.text-content p{
    font-family: 'Ubuntu', sans-serif;
    overflow-wrap: break-word;
    text-align: justify;
    color: #03071E;
    font-size: 14px;
}
.addbuttons{
    position: sticky;
    bottom: 0;
    left: 0; right: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 1rem auto;
}
.addbuttons button{
    width: 45%;
    text-align: center;
    background-color: #D00000;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}
.addbuttons button:last-child{
    background-color: #F48C06;
}
.feedback_label{
    display: flex;
    justify-content: space-between;
    background: #E9F3FD;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #D00000;
    z-index: 5;
}
.customer_feedback_content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
}
.customer_feedback_content > div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.rate{
    width: 100%;
    margin: 0;padding: 0;
    padding: 4px 6px;
}
.rate li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.rate > li i{
    color: #F48C06;
    font-size: 12px;
}
.rate > li > .progress{
    height: 5px;
    width: 35%;
    border-radius: 8px;
    overflow: hidden;
}
.rate > li > .progress > .progress-bar{
    background-color: #E85D04;
}
.customer_feedback_content{
    background: #ffffff;
    padding: 20px;
}
.customer_feedback_content > div:first-child{
    padding: 0;
    margin: 0;
    align-self: flex-start;
    align-content: flex-start;
}
.customer_feedback_content .rating-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 25px;
}

.customer_feedback_content .rating-box h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #E85D04;
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
}
.comments{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.comments h4,
.customer_feedback_content > div:first-child > p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #D00000;
}
.comments .comment{
    border-bottom: 1px solid grey;
    padding: 15px 0;
}

.comment p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #03071E;
}
.comment div {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    color: #D00000;
}

@media screen and (max-width: 850px) {
    .product-image{
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .product-page{
        padding: 0 0.5rem;
    }
    .product-image{
        width: 98%;
    }
    .product-image .pbrand-info > div{
        width: 74%;
    }
    .product-image .pbrand-info > div img{
        width: 24%;
        height: 85px;
        object-fit: cover;
    }
    .product-image .pbrand-info > div > div{
        width: 73%;
    }
    .product-image .pbrand-info > div > div > h5{
        font-size: 15px;
    }
    .product-image .pbrand-info > div > div > p{
        font-size: 11px;
    }
    .product-image .pbrand-info button{
        font-size: 12px;
        padding: 5px 15px;
    }
}