.section{
    width: 88%;
    margin: 25px auto;
}
.section > .brand-grid{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(15rem, 1fr));
}
.home-search{
    display: none;
}
@media screen and (max-width: 1200px) {
    .section{
        width: 90%;
        margin: 25px auto;
    }
}
@media screen and (max-width: 650px){
    .section{
        width: 100%;
    }
    .home-search{
        display: block;
        margin: 1.7rem auto;
        width: 80%;
        padding: 3px 10px;
    }
}

