.home-container{
    width: 80%;
    margin: 0 auto;
}
.home-brand{
    padding-top: 50px;
}
.home-brand .home-content{
    padding-bottom: 50px;
}

.home-brand .home-content .mile-food-card h4{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-indent: 1px;
    color: #000000;
}
.home-brand .home-content .mile-food-card h5{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-indent: 1px;
    color: #000000;

}
.home-brand .home-content .mile-food-card h5 i{
    color: #E85D04;
}
.home-brand .home-content .mile-food-card p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-indent: 1px;
    text-transform: capitalize;
    color: #03071E;
}
