
.slide{
    width: 95%;
    margin: 10px auto;
}
.slide.section-carousel{
    display: none;
}
.slide1{
    width: 95%;
    margin: 20px auto;
    display: none !important;
}
.barges{
    background-color: rgba(244, 140, 6, 0.37);
    border-radius: 15px;
    width: fit-content;
    font-size: 13px;
    margin: 0.5rem;
    padding: 3px 15px;
    color: rgba(106, 4, 15, 1);
    display: none;
}
.barges.active{
    background-color: #F48C06;
    color: white;
}
@media screen and (max-width: 650px) {
    .slide1{
        display: block !important;
    }
    .barges{
        display: block !important;
    }
    .slide.section-carousel{
        display: block !important;
    }
}