.model{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 200%; right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    overflow: hidden;
    transition: display 0.05s linear, bottom 0.2s linear;
}
.model.active{
    display: flex;
    bottom: 0;
}
.model .box{
    background-color: #E9F3FD;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 40%;
    padding: 15px 20px; 
    position: relative;
}
.model .box i{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
}
.model .box i:hover{
    color: crimson;
}
.model .box > div{
    display: flex;
    gap: 10px;
    margin: 13px 0 0;
}
.model .box > div img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.model .box > div > p{
    margin: auto 3px;
}
.model .box button{
    display: block;
    outline: none;
    border: none;
    background-color: #D00000;
    color: white;
    width: 80%;
    margin: 18px auto;
    border-radius: 8px;
    padding: 9px 15px;
}