

nav{
    display: none;
    width: 100%;
    background-color: #03071E;
    padding: 0 15px;
    justify-content: space-evenly;
}
nav a{
    display: block;
    padding: 10px;
}
nav a i{
    color: white;
    font-size: 25px;
}
nav a:hover{
    background-color: rgba(3, 7, 30, 0.5);
}

@media screen and (max-width: 650px){
    nav{
        display: flex;
    }
}