
.brand-info{
    display: flex;
    justify-content: flex-start;
    gap: 9rem;
    margin: 3rem 0;
}
.brand-info > div{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
.brand-info > div img{
    width: 150px;
    height: auto;
    object-fit: cover;
}
.brand-info > div > div{
    align-self: flex-start;
    margin: 0;padding: 0;
}
.brand-info > div > div > h5{
    font-size: 20px;
    color: #370617;
    font-weight: 700;
}
.brand-info > div > div > p{
    line-height: 9px;
}
.brand-info > div > .btn{
    align-self: flex-start;
}
.brand-info .btn{
    background-color: #F48C06;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
}
